[Package]
version: 1
depends: 

[Product]
type: localboot
id: whitestaruml
name: WhiteStarUML
description: 
advice: 
version: 5.9.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
whitestaruml (5.9.1-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Wed, 08 Jul 2020 14:49:05 +0000


