[Package]
version: 1
depends: 

[Product]
type: localboot
id: ucs.italc
name: UCS iTALC
description: 
advice: 
version: 3.0.3
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ucs.italc (3.0.0-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 15 Aug 2020 08:44:27 +0000


