[Package]
version: 1
depends: 

[Product]
type: localboot
id: python3
name: Python 3
description: 
advice: 
version: 3.8.3
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
python3 (3.8.3-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 10:30:27 +0000


