[Package]
version: 1
depends: 

[Product]
type: localboot
id: dia
name: Dia Diagram Editor
description: 
advice: 
version: 0.97.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
dia (0.97.2-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Fri, 03 Jul 2020 23:20:43 +0000


