[Package]
version: 1
depends: 

[Product]
type: localboot
id: maxima
name: Maxima
description: 
advice: 
version: 5.44.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
maxima (5.44.0-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Wed, 08 Jul 2020 14:30:55 +0000


