[Package]
version: 1
depends: 

[Product]
type: localboot
id: notepadpp
name: Notepad++
description: 
advice: 
version: 7.8.8
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
notepadpp (1.0-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Fri, 03 Jul 2020 23:03:10 +0000


