[Package]
version: 1
depends: 

[Product]
type: localboot
id: gimp
name: Gimp
description: 
advice: 
version: 2.10.20
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
gimp (2.10.20-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Fri, 03 Jul 2020 23:45:09 +0000


