[Package]
version: 1
depends: 

[Product]
type: localboot
id: adobe.air
name: Adobe AIR
description: 
advice: 
version: 32.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
adobe.air (32.0-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Wed, 08 Jul 2020 15:18:19 +0000


