[Package]
version: 1
depends: 

[Product]
type: localboot
id: musescore
name: MuseScore
description: 
advice: 
version: 3.4.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
musescore (3.4.2-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 09:34:53 +0000


