[Package]
version: 1
depends: 

[Product]
type: localboot
id: mebis.robotkarol
name: mebis Robot Karol
description: 
advice: 
version: 3.0.4
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
mebis.robotkarol (3.0.4-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 10:14:24 +0000


