[Package]
version: 1
depends: 

[Product]
type: localboot
id: appdynamic.airserver
name: App Dynamic AirServer
description: 
advice: 
version: 5.5.11
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
appdynamic.airserver (5.5.11-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sun, 28 Jun 2020 19:53:11 +0000


