[Package]
version: 1
depends: 

[Product]
type: localboot
id: cryptool2
name: CrypTool 2
description: 
advice: 
version: 2.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
cryptool2 (2.1-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 10:03:48 +0000


