[Package]
version: 1
depends: 

[Product]
type: localboot
id: thonny
name: Thonny
description: 
advice: 
version: 3.2.7
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
thonny (3.2.7-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 10:56:38 +0000


