[Package]
version: 1
depends: 

[Product]
type: localboot
id: irfanview
name: IrfanView
description: 
advice: 
version: 4.54
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ifranview (4.54-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 00:02:28 +0000


