[Package]
version: 1
depends: 

[Product]
type: localboot
id: greenfoot
name: Greenfoot
description: 
advice: 
version: 3.6.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
greenfoot (3.6.1-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Mon, 31 Aug 2020 10:39:41 +0000


