[Package]
version: 1
depends: 

[Product]
type: localboot
id: papdesigner
name: PapDesigner
description: 
advice: 
version: 2.2.0.8.06
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
papdesigner (2.2.0.8.06-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Wed, 08 Jul 2020 15:08:44 +0000


