[Package]
version: 1
depends: oracle.jre

[Product]
type: localboot
id: freemind
name: FreeMind
description: 
advice: 
version: 1.0.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
freemind (1.0.1-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Fri, 03 Jul 2020 23:34:25 +0000


