[Package]
version: 1
depends: 

[Product]
type: localboot
id: w3c.amaya
name: W3C Amaya
description: 
advice: 
version: 11.4.7
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
w3.amaya (11.4.7-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 09:46:26 +0000


