[Package]
version: 1
depends: 

[Product]
type: localboot
id: structorizer
name: Structorizer
description: 
advice: 
version: 3.30.10
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
structorizer (3.30.10-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 10:46:24 +0000


