[Package]
version: 1
depends: 

[Product]
type: localboot
id: nvda
name: NVDA
description: 
advice: 
version: 2020.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
nvda (2020.1-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Wed, 08 Jul 2020 15:02:47 +0000


