[Package]
version: 1
depends: 

[Product]
type: localboot
id: libreoffice
name: LibreOffice
description: 
advice: 
version: 6.4.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
libreoffice (6.4.5-1) testing; urgency=low

  * Initial package

 -- Jan Gilla <jgilla@level66.network>  Sat, 04 Jul 2020 09:14:50 +0000


